<div class="PDF">
  <div class="pdf_header py-3 shadow text-center">
      <h5>คุณมีเอกสารต้องลงนาม</h5>
  </div>

  <div class="mb-5">
      <ngx-extended-pdf-viewer
          [src]="pdfUrls[currentPdfIndex]"
          useBrowserLocale="true"
          [showSidebarButton]="false"
          [height]="'600px'"
          [showToolbar]="true"
          [(page)]="pageNumber">
      </ngx-extended-pdf-viewer>
  </div>

  <div class="pdf_footer2 fixed-bottom shadow">
      <div class="pdf_Footer fixed-bottom">
          <div class="pdf_button px-sm-5 py-3 row col text-center">
              <div class="col-sm-3 col-4">
                  <button class="btn-pdf" (click)="prevPdf()" [disabled]="currentPdfIndex === 0">
                      ก่อนหน้า
                  </button>
              </div>
              <div class="col-sm-6 col-4">
                  <span>เอกสารที่ {{ currentPdf }}/{{ totalfiles }}</span>
              </div>
              <div class="col-sm-3 col-4">
                  <button class="btn-pdf" (click)="nextPdf()" [disabled]="currentPdfIndex >= totalfiles - 1">
                      ถัดไป
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
