<div class="PDF">
  <div class="pdf_header">
    <h5>ตรวจสอบเอกสารที่เซ็นแล้ว</h5>
    <div class="btn-pdf__">
      <button class="btn-pdf_" (click)="goBarkPdf()">⬅</button>
    </div>
  </div>

  <div class="pdf-container" >
    <ngx-extended-pdf-viewer
      #pdfViewer
      [src]="pdfUrls[currentPdfIndex]"
      useBrowserLocale="true"
      [showSidebarButton]="false"
      [textLayer]="true"
      [height]="'100%'"
      [showToolbar]="false"
      [(page)]="pageNumber"
      (pageRendered)="onPageRendered($event)">
    </ngx-extended-pdf-viewer>

    <!-- Signature Overlay -->
    <!-- <div class="signature-wrapper" *ngIf="signatureData && isSignatureVisible">
      <div class="signature-container">
        <img [src]="signatureData" class="signature-image" alt="ลายเซ็น">
        <div class="signature-name">{{ signedUserName }}</div>
      </div>
    </div>
  </div> -->

  <div class="pdf_footer2 fixed-bottom">
    <div class="pdf_button row text-center">
      <div class="col-sm-3 col-4">
        <button class="btn-pdf" (click)="prevPdf()" [disabled]="currentPdfIndex === 0">
          ⬅ ก่อนหน้า
        </button>
      </div>
      <div class="col-sm-6 col-4">
        <span>เอกสารที่ {{ currentPdf }}/{{ totalfiles }}</span>
      </div>
      <div class="col-sm-3 col-4">
        <button class="btn-pdf" (click)="nextPdf()" [disabled]="currentPdfIndex >= totalfiles - 1">
          ถัดไป ➡
        </button>
      </div>
      <div class="col-sm-3 col-4 text-end">
        <button class="btn-confirm" (click)="goToDownloadPdf()">ดาวน์โหลดเอกสาร</button>
<!-- <button (click)="downloadAllSignedPdfs()">ดาวน์โหลด PDF ทั้งหมด</button> -->
      </div>
    </div>
  </div>
</div>