<!-- select-pdf.component.html -->
<div class="container">
    <div class="logo">
      <img src="icon/Logo.png" alt="Logo">
    </div>
    <h1>Select PDF to sign contract</h1>
    <div class="upload-box">
      <div class="document-icon">
        
        <div class="icon-circle">
          <div class="document-badge">4</div>
          <img src="icon/Select Documents .png" alt="Document">

        </div>
      </div>
      <button (click)="onFileSelected()" class="select-btn">
        Select Documents
      </button>
    
    </div>