<div class="container">
  <!-- เพิ่มส่วนนี้ด้านบนสุดของ container -->
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
  </div>
  
      <div class="logo">
        <img src="assets/icon/Logo.png" alt="Logo">
      </div>
      <h1>Select PDF to sign contract</h1>
      <div class="upload-box">
        <div class="document-icon">
  
          <div class="icon-circle">
            <div class="document-badge">3</div>
            <img src="assets/icon/Select Documents .png" alt="Document">
  
          </div>
        </div>
        <button [disabled]="isLoading" (click)="onFileSelected()" class="select-btn">
          Select Documents
        </button>
  
      </div>